*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Update later if needed */
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
div {
  color: white;
}

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand/static/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "QuicksandBold";
  src: url("./fonts/Quicksand/static/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Laura";
  src: url("./fonts/Lora/static/Lora-SemiBoldItalic.ttf");
}

:root {
  --baseFont: "Quicksand";
  --boldFont: "QuicksandBold";
}

p {
  font-family: var(--baseFont);
}

body {
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #161616;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 18px;
  font-family: var(--boldFont);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: sticky;
  top: 0%;
}

header p {
  font-size: 24px;
  font-family: "Laura";
  opacity: 0.2;
}

.layout {
  display: flex;
  flex: 1;
  height: 100%;
}

aside {
  position: fixed;
  top: 15%;
  width: 180px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.nav-container {
  padding: 50px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav-list a {
  font-family: var(--baseFont);
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  background: linear-gradient(
    to left,
    #000000 0%,
    #000000 30%,
    #222222 50%,
    #000000 70%,
    #000000 100%
  );
  background-size: 200% 100%;
  animation: rippleMove 1s ease-in-out forwards;
}

.hero-container {
  max-width: 1000px;
  margin-bottom: 50px;
  padding: 120px;
}

.hero-content h1 {
  font-family: var(--boldFont);
  font-size: 64px;
}

.projects-section {
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  box-shadow: 0 2px #363636a8 inset;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section-header h1 {
  font-family: var(--baseFont);
  font-size: 18px;
}

.line {
  height: 0.1rem;
  width: 100px;
  background-color: #ffffff;
  margin: 1rem 0;
}

.projects {
  width: 100%;
  height: 100%;
  padding: 50px 500px 200px 500px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.proj {
  max-height: 250px;
  background-color: #1f1f1f;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 5px #333333;
  overflow: hidden;
}

.proj-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.proj-description {
  font-family: var(--baseFont);
  font-size: 14px;
  margin-top: 10px;
}

.proj-image {
  width: 100%;
  height: auto; /* maintains aspect ratio */
  display: block; /* removes inline spacing below image */
  object-fit: cover;
  border-radius: 10px;
}

footer {
  height: 100px;
  background-image: linear-gradieknt(to right, #252525, #000000);
  box-shadow: 0 2px #363636a8 inset;
}

footer {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  background: linear-gradient(
    to left,
    #000000 0%,
    #000000 30%,
    #222222 50%,
    #000000 70%,
    #000000 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
}

footer a {
  text-decoration: none;
}

.devicon-github-original {
  font-size: 24px;
}

.proj {
  scale: 0.8;
  opacity: 0.2;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 200px 400px;
}

.scroll-down-arrow {
  position: fixed;
  bottom: 5%;
  opacity: 0.2;
  animation: bounce 1s alternate infinite cubic-bezier(0.2, 0.65, 0.6, 1),
    fade-out linear forwards;

  animation-timeline: auto, scroll();
  animation-range: normal, entry 0% cover 20%;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    scale: 0;
    opacity: 0;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateY(-20px);
    opacity: 1;
  }
}

@keyframes rippleMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@media (max-width: 600px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
