*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --baseFont: "Quicksand";
  --boldFont: "QuicksandBold";
  --bgColor: #121212;
  --bgColor2: #000000;
  --surfaceColor: #1e1e1e;
  --primaryText: #e0e0e0;
  --secondaryText: #a0a0a0;
  --alternateText: #000000;
  --accent: #6623b8;
}

h1,
h2,
h3,
h4 {
  color: var(--primaryText);
}

p,
li,
a {
  color: var(--secondaryText);
  font-family: "Quicksand";
}

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand/static/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "QuicksandBold";
  src: url("./fonts/Quicksand/static/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Laura";
  src: url("./fonts/Lora/static/Lora-SemiBoldItalic.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  /* -webkit-font-smoothing: antialiased; */
  line-height: 1.5;
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
}

.nav-container {
  width: 100%;
  height: 70px;
  font-family: var(--baseFont);
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10rem; */
  background-color: var(--bgColor);
  box-shadow: 1px 4px 5px #000000;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0 30px;
  display: flex;
  gap: 5rem;
}

.nav-list a {
  text-decoration: none;
}

.nav-list a:hover {
  color: var(--accent);
}

.nav-list li {
  transform: scale(1);
  transition: transform 200ms ease;
}

.nav-list :hover {
  transform: scale(1.2);
}

.logo-wrapper {
  width: 45px;
  display: flex;
  align-items: center;
  gap: 1rem;

  .logo-container {
    transform-origin: center;
    transition: transform 400ms ease-in;
  }

  .logo-text {
    text-wrap: nowrap;
    transform: translateX(-120px);
    opacity: 0;
  }
}

.logo-wrapper:hover {
  .logo-container {
    transform: rotate(360deg);
    transition: transform 600ms ease-in;
  }

  .logo-text {
    animation: text-ease-in 600ms forwards;
  }
}

.logo-text {
  animation: text-ease-out 400ms forwards;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero {
  position: relative;
  min-height: 650px;
  width: 100%;
  margin-top: 70px;
  /* padding: 0 10rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  box-shadow: 1px 4px 5px #000000;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-image: url(./images/background.jpg);
  background-size: cover;
  filter: blur(10px);
  z-index: 0;
}

.hero-content {
  max-width: 800px;
  z-index: 1;
}

.hero-content h1 {
  font-family: var(--boldFont);
  font-size: 64px;
  color: var(--primaryText);
}

.text-reveal span {
  /* color: rgba(255, 255, 255, 0.2);
  background-clip: text;
  background-size: 25% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    var(--secondaryText),
    var(--secondaryText)
  ); */
  opacity: 0;
  animation: 1s text-reveal ease-in forwards;
}

.hero-img {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
}

.hero-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  animation: glitch 800ms 2;
}

.hero-img img:first-child {
  animation: glitch 1000ms 2;
  z-index: 1;
}

.hero-img img:last-child {
  animation: glitch 300ms 2;
  z-index: 1;
}

#projects-section {
  width: 100%;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--bgColor);
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section-header h1 {
  font-family: var(--baseFont);
  font-size: 18px;
}

.line {
  height: 0.1rem;
  width: 100px;
  background-color: #ffffff;
  margin: 1rem 0;
}

.projects {
  max-width: 1000px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.proj {
  min-width: 300px;
  background-color: var(--surfaceColor);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 5px #000000;
  overflow: hidden;
  padding: 10px;
  opacity: 0;
  scale: 0.5;
  transition: transform 50ms ease-out;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 100px 300px;
}

.proj:hover {
  background-color: var(--accent);
  transform: scale(1.2);
  z-index: 2;
  transition: transform 200ms ease-in;
  .proj-description {
    color: var(--alternateText);
  }
}

.proj-description {
  font-family: var(--baseFont);
  color: var(--secondaryText);
  font-size: 14px;
  margin-top: 10px;
}

.proj-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 250px;
  background-color: var(--bgColor);
  box-shadow: 1px -4px 5px #000000;
}

footer a {
  text-decoration: none;
}

.devicon-github-original {
  font-size: 24px;
}

.scroll-down-arrow {
  position: fixed;
  bottom: 2%;
  opacity: 0.2;
  animation: bounce 1s alternate infinite cubic-bezier(0.2, 0.65, 0.6, 1),
    fade-out linear forwards;
  animation-timeline: auto, scroll();
  animation-range: normal, entry 0% cover 20%;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateY(-20px);
    opacity: 1;
  }
}

@keyframes text-ease-in {
  0% {
    opacity: 0;
    transform: translateX(-120px);
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-ease-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(-120px);
  }
}

/* @media (max-width: 600px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
} */

@media (prefers-reduced-motion: no-preference) {
  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes fade-out {
    to {
      scale: 0;
      opacity: 0;
    }
  }

  @keyframes glitch {
    0% {
      filter: drop-shadow(0.2em 0 0 rgba(255, 0, 0, 0.75))
        drop-shadow(-0.2em -0.2em 0 rgba(0, 255, 0, 0.75))
        drop-shadow(0.2em -0.2em 0 rgba(0, 0, 255, 0.75));
    }
    14% {
      filter: drop-shadow(0.2em 0 0 rgba(255, 0, 0, 0.75))
        drop-shadow(-0.2em -0.2em 0 rgba(0, 255, 0, 0.75))
        drop-shadow(0.2em -0.2em 0 rgba(0, 0, 255, 0.75));
    }
    15% {
      filter: drop-shadow(-0.2em -0.1em 0 rgba(255, 0, 0, 0.75))
        drop-shadow(0.25em 0.1em 0 rgba(0, 255, 0, 0.75))
        drop-shadow(0.1em -0.3em 0 rgba(0, 0, 255, 0.75));
    }
    49% {
      filter: drop-shadow(-0.2em -0.1em 0 rgba(255, 0, 0, 0.75))
        drop-shadow(0.25em 0.1em 0 rgba(0, 255, 0, 0.75))
        drop-shadow(0.1em -0.3em 0 rgba(0, 0, 255, 0.75));
    }
    50% {
      filter: drop-shadow(0.4em -0.3em 0 rgba(255, 0, 0, 0.75))
        drop-shadow(-0.3em 0.2em 0 rgba(0, 255, 0, 0.75))
        drop-shadow(0.3em 0.4em 0 rgba(0, 0, 255, 0.75));
    }
    99% {
      filter: drop-shadow(0.4em -0.3em 0 rgba(255, 0, 0, 0.75))
        drop-shadow(-0.3em 0.2em 0 rgba(0, 255, 0, 0.75))
        drop-shadow(0.3em 0.4em 0 rgba(0, 0, 255, 0.75));
    }
    100% {
      filter: drop-shadow(-0.4em -0.25em 0 rgba(255, 0, 0, 0.75))
        drop-shadow(-0.2em -0.3em 0 rgba(0, 255, 0, 0.75))
        drop-shadow(-0.6em 0.2em 0 rgba(0, 0, 255, 0.75));
    }
  }

  @keyframes text-reveal {
    to {
      opacity: 1;
    }
  }
}
